* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 16px;
    text-align: center;
    background-color: #E4B900;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
}

header h2 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
}

nav {
    background-color: #E4B900;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    margin: 0 1rem;
}

nav a {
    display: block;
    padding: 1rem 0;
    color: #e0e0e0;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover,
nav a.active {
    color: #080807;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #ffffff;
}
h1,h2{
    color: #ffffff;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.9);
    padding: 1.5rem 2rem;
    color: #000;
    font-size: 1rem;
}

h3{
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #fff;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}

label, legend {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

input[type="text"],
select,
textarea {
    padding: 0.5rem;
    border: 1.5px solid #000000;
    border-radius: 6px;
    font-size: 1rem;
    font-family: inherit;
}

button[type="submit"] {
    padding: 0.75rem;
    background-color: #000000;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #E4B900;
}

footer {
    text-align: center;
    padding: 0.7rem;
    background-color: #E4B900;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 300;
}