* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 16px;
    text-align: center;
    background-color: #E4B900;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
}

header h2 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
}

nav {
    background-color: #E4B900;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    margin: 0 1rem;
}

nav a {
    display: block;
    padding: 1rem 0;
    color: #e0e0e0;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover,
nav a.active {
    color: #080807;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #ffffff;
}
h1,h2{
    color: #ffffff;
}

h3{
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #fff;
}
main section {
    background-color: #ffffffe6;
    padding: 1rem 1.5rem;
    margin: 1rem auto;
    border-radius: 10px;
    max-width: 700px;
    color: #000;
}

main section h4 {
    margin-top: 0;
    color: #000000;
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
}

main section ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

main section ul li {
    margin-bottom: 0.5rem;
}
footer {
    text-align: center;
    padding: 0.7rem;
    background-color: #E4B900;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 300;
}