* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 16px;
    text-align: center;
    background-color: #E4B900;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
}

header h2 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
}

nav {
    background-color: #E4B900;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    margin: 0 1rem;
}

nav a {
    display: block;
    padding: 1rem 0;
    color: #e0e0e0;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover,
nav a.active {
    color: #080807;
}


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #ffffff;
}
h1,h2{
    color: #ffffff;
}

main {
    flex: 1;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
    margin: 1rem auto;
    max-width: 900px;
}

main h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px #000;
}

main p {
    font-size: 1.1rem;
    line-height: 1.6;
}

footer {
    text-align: center;
    padding: 0.7rem;
    background-color: #E4B900;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 300;
}